	<div id="featuredContent">
	<div style="opacity:1">
		<div class="bparty_content">
		<h4>Judy, Matron of Honor</h4>		
		<%= image_tag 'Judy.jpg', style: 'height: 150px; width:125px; margin: 10px; float:left;' %><p>I never imagined that at age 14, I would meet one of my best friends forever, my lifelong sister, and my constant source of strength and encouragement. I was overjoyed when she met John and even more happy that he saw all the wonderful qualities the rest of us saw in Linnea. I have so many great memories with Linnea throughout high school, college and our 20s. We were perfectly happy being clueless teens growing up in suburban San Jose, rooming together our first time "home away from home" in Santa Barbara, procrastinating our way through upper division Cal MCB labs, and surviving zip-lining adventures in Costa Rica. Linnea and I have been through our share of highs and lows and we made it through all the challenges that 15 years of friendship can bring. We have talked so many times about growing old together and taking girls' trips all over the world and I am so looking forward to that! It is rare to find friends who truly understand and accept you for who you are - flaws and all. I'm lucky to have found that person in Linnea and will hold on to her for dear life!</p> 

		<p>To my dear Linnea: I am truly excited to be there for you on your wedding day and for the rest of your married days! I promise to fix and bustle your train, carry tissues (for both you and me... and John), create a wedding emergency kit, keep you from stressing out, love you unconditionally no matter what, and scream at anyone who tries to take your ceremony parking spot. ;-D Congrats to you and John! I cannot wait to see you guys get married and know that you two are more than perfectly matched for one another.</p>
</div>
	</div>
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Marc, Best Man</h4>
		<%= image_tag 'Marc.jpg', style: 'height: 162px; width:125px; margin: 10px; float:left;' %><p>Ozzy....I first met John while attending our freshman year at Clemson University, SC. While pledging the same fraternity, we realized we were both "Yankees" invading the "South." Over our four years down there we became close friends and shared some of the best times of our lives. Since then, John and I have always stayed in close contact. He is a friend that I call on for advice, with a problem and for a laugh. John did an incredible job as the best man in my wedding and I'd like to be able to do the same for him.</p>
		</div>
	</div>
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Khara, Matron of Honor</h4>
		<%= image_tag 'Khara.jpg', style: 'height: 172px; width:125px; margin: 10px; float:left;' %><p>Linnea and I first met at Freshman Orientation at Notre Dame High School, and here we are as best friends 15 years later.  Through each milestone, rite of passage, loss (or getting lost), celebration and even in the face of danger we have always played witness to each others' lives.  My view of our friendship and Linnea as an individual, is that we can always rely on each other to be present and mindful when we're living on the edge.  I would like to think that Linnea and I have faced the edge of life together several times, which is why we clearly know the difference between right and wrong, why we know what matters the most when it comes to living life to the fullest, and most importantly why we continue to make fun our priority when we spend time together.  I love Linnea with all my heart and couldn't be more in love with her as a friend.  Her beauty is inside and out.  I can't help but acknowledge her presence in my life as being the reason why I do my very best to behave like a lady and strive to treat others with an open heart.  To me, that is Linnea's effect on us all and I couldn't be prouder to be her friend.  As for John, truthfully...  I have been waiting a long time for someone like him to be part of Linnea's life.  Ever since I asked my older brother to stand in as Linnea's date during Freshman Year's Christmas Ball (after she had been stood up), it's been a long time coming for Linnea to meet her Mr. Right.
		</p>
		</div>
	</div>

	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Zak, Best Man</h4>
		<%= image_tag 'Zak.jpg', style: 'height: 141px; width:125px; margin: 10px; float:left;' %><p>I've known Ozzy for 25 years so it's ridiculous for me to call him anything else but a brother. We grew up as neighbors and did just about everything together during our childhood. We played street hockey, everyday. We played Sega or Super Nintendo, everyday. We fished almost everyday. We loved to compete so we fought, a lot. During one, now notorious street hockey game we fiercely disputed the score. He busted my nose and I busted his jaw, and the next day we shook hands and played street hockey again. That's how it's always been. </p>

		<p>I think the thing I like most about Oz is that hanging out is the same no matter how much time has passed since seeing him. Even though he hasn't been in Mass for most of our adult lives, every time we hang out it's really like nothing's changed. We still play NHL - now it's just on PS3 and from Hawaii to Boston. </p>

		<p>I honestly feel honored to have him as a brother and even though I don't get to see him much anymore, I'm happy for the life he's living and that he met Linnea. My instinct tells me that she's too good for him.</p>
		</div>
	</div>
	
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Andria, Bridesmaid</h4>
		<%= image_tag 'Andria.jpg', style: 'height: 167px; width:125px; margin: 10px; float:left;' %><p>I first met Linnea in 2002, during a grand Fall Tradition called Sorority Rush Week. She was quickly won over by my captivating charm, and the free presents and food that we plied upon her. Little did sweet and naive Linnea know that it was all part of a plot to lure her into a female cult that will consume the rest of her three years in college.</p>

		<p>Our friendship didn't blossom right away, mainly because I was one of the girls that was supposed to torment her during that first year. However, once she crossed to the other (dark) side, she realized that I wasn't so bad after all, and the rest is Linnea &amp; Andria history.</p>

		<p>We've gone through good times, bad times and crazy times. I can always count on her to be a rowdy study-mate in Mainstacks library, a sharer of the Love Bug in Hawaii, and to play with me at the beach. More than that though, Linnea is a loyal and caring friend that will be there when I fall, and during the hardest of times. I've grown to love and appreciate what a special girl Linnea is, from her love of lime green, to her (former) fondness for crocheting, even her famed driving skills. Linnea, I feel blessed to have you in my life during all these years, and honored that I will be sharing this special moment with you. Much love and congratulations!!</p>
		</div>
	</div>
	
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Jason, Groomsman</h4>
		<%= image_tag 'Jason.jpg', style: 'height: 133px; width:125px; margin: 10px; float:left;' %><p>John has been a fraternity brother (little brother), roommate and of course a best buddy of mine for about ten years now. I can recall him as a freshman coming through Sigma Chi Rush and everyone was pretty excited about a couple of solid kids from Massachusetts. I was honored to accept Oz into my fraternal family, mainly because he appeared to be popular with the ladies. Little did I know at the time, he is also extremely intelligent, super funny and generally a great person to be around. Obviously, I was proud to call him brother and friend in the years that followed.</p>

		<p>Several years after I graduated from Clemson, I was delighted to hear that Ozzy had interviewed for and accepted a job at SPAWAR and was moving in with Jarod Bonino and myself in Charleston. This is where things reached the pinnacle of sketchiness (in a good way). I'll never forget the weekends we spent enjoying all the riches of the Holy City, and the anxious Sundays we spent laughing at each other’s antics. Having grown accustomed to watching Oz work on his "tan" in the backyard and watching Saved by the Bell reruns every morning for several years, I was sad to learn that Oz was leaving the "Frat Castle" for bigger, better, more bureaucratic things in San Diego.</p>

		<p>Turns out that move has resulted in the most productive and rewarding years of his life and clearly indicates that I am a bad influence. Nice work, Linnea. You've got a winner. Best of luck to you both.</p>
		</div>
		</div>
		
		<div style="opacity:0">
			<div class="bparty_content">
			<h4>Danelle, Bridesmaid</h4>
			<%= image_tag 'Danelle.jpg', style: 'height: 185px; width:125px; margin: 10px; float:left;' %>
			<p>	Growing up, I used to always emulate Linnea-- whether it be tag-a-long wherever she went, mimic her words or "borrow" her clothes. Exactly what little sisters did to their big sisters. Through the years, we've had our ups and downs but one thing remains unchanged; she is someone that I have always looked up to and admired.</p>

<p>I'm glad Linnea has found someone who complements her well. Listening to her stories, I find the same qualities that I admire in Linnea also lie in John. I'm very excited to welcome him as an older brother.</p>
			</div>
		</div>	
	
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Jeffrey, Groomsman</h4>
		<%= image_tag 'Jeffrey.jpg', style: 'height: 185px; width:125px; margin: 10px; float:left;' %><p>Well John what I can really say, I am your brother, and well its been a long 25 years together. I can remember growing up playing capture the flag, pickle, or basketball in the yard till hours of the night with you and Zak. For the most part I think I did a spectacular job being your little brother, if you define it as being a royal pain in your butt. Now that we are older its great to see more since we moved out to San Diego and I got the chance to help you out for a change and move you. It’s been a long journey and I am so happy for you and Linnea, I look forward to the wedding and the many years ahead!</p>
		</div>
	</div>

		
		<div style="opacity:0">
			<div class="bparty_content">
			<h4>Gloria, Bridesmaid</h4>
			<%= image_tag 'Glo.jpg', style: 'height: 172px; width:125px; margin: 10px; float:left;' %><p>I’ve known Linnea since she pledged our sorority our sophomore year, but we really became close when we lived together in “the Hottie House” our senior year - the de facto sorority house. I still miss popping into each other’s rooms on Tuesday nights to get opinions on what we should wear for “two for Tuesdays” at Henry’s. Linnea and I always had a thing for adventures, and from our senior year through our first few years living in San Francisco we had plenty - some were messier than others, but they made for great stories and we laugh about all of them today.</p>

			<p>Of course we’ve grown up a lot since then. Neither of us live in the Bay anymore, and our lives have changed. Stiletto heels were traded out for hiking boots, and Sunday hangover lunches over bowls of steaming pho were replaced with weeknight dinners of organic salads and white wine. We even took a little break from our friendship for a while once, but like true friends, some time passed and we realized that we couldn’t even remember why we’d been mad at each other in the first place. We appreciated, understood and accepted each other even more after that.</p>

			<p>What I always loved most about Linnea was that she has always strived to grow and better herself year after year, and she has always been one of my most enthusiastic supporters when I’ve tried to do the same. It’s so good to see the happy, healthy life she’s made for herself and with John, and I can’t wait to celebrate with the two of them and all our closest friends on June 1!</p>
			</div>
			</div>

	
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Kevin, Groomsman</h4>
		<%= image_tag 'Kevin.jpg', style: 'height: 167px; width:125px; margin: 10px; float:left;' %><p>Ozzy and I spent a lot of time in his chick machine, 1993 Mustang.  We would drive around town blasting the Beastie Boys nonstop, trying to pick up girls.  We never got those said girls.  We would drive to parties at our friends' parent's houses where we would try to pick up chicks.  If there was no house party to go to, we would drive the Mustang to the spot in the woods where everybody was hanging out and there were plenty of chicks to hit on.  Again, we never got any of the girls.  We had some good times in Ozzy's car.  I remember using the seat belts not for safety but for opening up beer bottles with the buckle.  They worked perfectly.</p>
		</div>
	</div>

	<div style="opacity:0">	
		<div class="bparty_content">	
		<h4>Grace, Bridesmaid</h4>
		<%= image_tag 'Grace.jpg', style: 'height: 160px; width:125px; margin: 10px; float:left;' %><p>Linnea and I met our Sophomore year at Cal when we found ourselves rushing for a sorority. We weren't instant friends but the more time we spent together, the more we learned to appreciate our differences and found that we weren't so different after all. Our remaining 3 years of college were memorable; filled with lack of sleep, frat parties, a lot of meetings, oh yeah, and some studying. But through all the tears and laughter, we molded each other and pushed each other to grow even after our college years ended. Linnea is quirky, caring, intelligent and beautiful... the whole package, except for her driving skills (if you've ever ridden in a vehicle with her, you know what I mean, and if not, I can definitely share some stories). She has a huge heart and is always open to listen and give comforting words. I am so happy for her and John! Congratulations and thank you for letting me share part of the journey with you!</p>
		</div>
	</div>
	
	<div style="opacity:0">
		<div class="bparty_content">
		<h4>Mike, Groomsman</h4>
<p>		I remember meeting Oz when I was a sophomore at Clemson. I was finishing up my pledge season for Sigma Chi and Oz was a freshman who was invited to start pledging Sigma Chi in fall semester of 2001. Oz was a great kid, not to mention he was almost as much of a Yankee as I was, and in the upstate of South Carolina… there weren’t many of us. Although I was happy to be at Clemson, having Oz as a brother made me less homesick and feel comfortable being the obnoxious Yankee I tended to be. It was only natural for me to develop a close friendship with Oz due to our similar backgrounds, likes and dislikes. I can honestly say that a majority of the special times in my life were made at Clemson. As I think back to those memories, I can’t remember many that didn’t involve Oz. From being roommates (Tillman 331 Mafia), to parties, formals, road trips and mountain weekends, Oz is a fixture in the memories that I will cherish forever.

			<p>While reminiscing with college friends and fraternity brothers, my stories always seem to start with “Remember that time you, Oz and I” and end with the kind of laughter that gives you a headache. When people say “best friends aren’t the ones that are there to bail you out of jail, they are the ones sitting right next to you saying damn that was an amazing night”… all I can say is this is a very true statement. I am very lucky to have spent the most memorable and important years of my life in such a great place, with even greater people. I say thank you Oz for being an integral part of that.</p>
	
		<p>Not having any blood brothers, I can easily say that Oz is someone I consider a brother. He has always been there in good times and in bad. Our friendship has only grown stronger though the years… the distance between Charleston and San Diego/Hawaii hasn’t changed a thing. Oz I’m so happy for you bro! Thank you for the honor of letting me share this special moment in your life.</p>
		</div>
	</div>
</div>

<script type='text/javascript'>
$(window).load(function() {
	$('#featuredContent').orbit({ fluid: '16x17', advanceSpeed: 60000 });
});
</script>