<% if flash[:notice] %>
	<div class="alert-box secondary"><%= flash[:notice]%></div>
<% end %>
<%= form_tag send_email_path, method: 'post' do %>
  <label>Name</label>
  <%= text_field_tag 'name', nil, :placeholder => 'First and Last Name' %>
  
  <label>Email Address</label>
  <%= text_field_tag 'email', nil, :placeholder => 'example@gmail.com' %>
  

  <label>Message</label>
  <%= text_area_tag 'message', nil, style: 'margin: 0px -34.5333px 12px 0px; width: 680px; height: 280px;' %>
 
  <%= submit_tag 'Send', :class => "[medium] button" %>
<% end %>